<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>My resume</title>
        <link>http://siliconserenity.com/rss/</link>
        <description>Hire me.</description>
        <language>en-us</language>
        <pubDate>Fri, 25 Apr 2014 00:00:00 -0700</pubDate>
        
        <item>
            <link>http://siliconserenity.com/rss/2014/04/25/hello_world.html</link>
            <guid>http://siliconserenity.com/rss/2014/04/25/hello_world.html</guid>
            <title><![CDATA[Hello World!]]></title>
            <description><![CDATA[<div class="section" id="hello-world">
<h1>Hello World!</h1>
</div>]]></description>
             <pubDate>Fri, 25 Apr 2014 00:00:00 -0700</pubDate>
        </item>
    
    </channel>
</rss>